@model PersonalDemo.Web.Models.Contact.ContactDetailModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    @*<base href="/">*@<!-- used for angularjs html5Mode route base-->
    <title>Index</title>

    @Styles.Render("~/bundles/custom/styles")
</head>
<body ng-app="mainModel">
    <div class="tableContainer" style="height:100%">
        <div style="display:table-row">
            <div class="content">
                <ul ng-controller="navController" class="menuLayout">
                    <li ng-repeat="menu in allMenus">
                        <a ng-href="/{{menu}}" ng-bind="menu" ng-click="select(menu)" ng-class="{activedBar:isActive(menu)}">
                        </a>
                    </li>
                </ul>
                <div class="mainContent">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerStyle" style="height:300px">
        <div style="display:table-row">
            <div class="footerContent">
                <div>
                    <div class="footSubContent">
                        <p>contacts</p>
                        @if (Model != null)
                        {
                            <table>
                                <tr>
                                    <td>phone: @Model.Phone</td>
                                </tr>
                                <tr>
                                    <td class="emailStyle">@Model.Email</td>
                                </tr>
                                <tr>
                                   <td>@Model.Street, @Model.Suburb
                                    <br/>@Model.State, @Model.Country
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="/contact">send message</a>
                                    </td>
                                </tr>
                            </table>
                        }
                    </div>
                    <div class="footSubContent">
                        <p>latest project</p>
                    </div>
                    <div class="footSubContent">
                        <p>recent update</p>
                    </div>
                    <div class="footSubContent">
                        <p>social</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/custom/scripts")
</body>
</html>
